<%- include('partials/header'); -%>
<h2>Главная страницы</h2>
<p>
  Это главная страница, которая открывается пользователю, когда он заходит
</p>
<p>Все ссылки</p>
<p>
  <a href="/auth/login">Вход</a>
</p>
<p>
  <a href="/auth/signup">Регистрация</a>
</p>
<p>
  <a href="/auth/logout">Выход</a>
</p>
<p>
  <a href="/employees">Все сотрудники</a>
</p>
<p>
  <a href="/employees/create">Создать сотрудника</a>
</p>
<p>
  <a href="/items">Все товары</a>
</p>
<p>
  <a href="/items/create">Создать товар</a>
</p>
<p>
  <a href="/orders">Все заказы</a>
</p>
<%- include('partials/footer'); -%>
