<%- include('partials/header'); -%>
<h2>Главная страницы</h2>
<p>
  Это - главная страница, которая открывается пользователю, когда он заходит
</p>
<a href="/auth/login">Вход</a>
<a href="/admin/users">Другая страница</a>
<%- include('partials/footer'); -%>
